openapi: 3.0.0
info:
  title: dev/sandbox/mitmproxy/entrata.flow Mitmproxy2Swagger
  version: 1.0.0
servers:
- url: https://gmhcommunities.entrata.com/api/v1
  description: The default server
paths:
  /status:
    post:
      summary: POST status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      requestId:
                        type: string
                      code:
                        type: number
                      result:
                        type: object
                        properties:
                          status:
                            type: string
                          message:
                            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                auth:
                  type: object
                  properties:
                    type:
                      type: string
                requestId:
                  type: number
                method:
                  type: object
                  properties:
                    name:
                      type: string
                    version:
                      type: string
                    params:
                      type: array
                      items:
                        type: object
                        nullable: true
  /properties:
    post:
      summary: POST properties
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      requestId:
                        type: string
                      code:
                        type: number
                      result:
                        type: object
                        properties:
                          PhysicalProperty:
                            type: object
                            properties:
                              Property:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    PropertyID:
                                      type: number
                                    MarketingName:
                                      type: string
                                    Type:
                                      type: string
                                    webSite:
                                      type: string
                                    Address:
                                      type: object
                                      properties:
                                        '@attributes':
                                          type: object
                                          properties:
                                            AddressType:
                                              type: string
                                        Address:
                                          type: string
                                        City:
                                          type: string
                                        State:
                                          type: string
                                        PostalCode:
                                          type: string
                                        Country:
                                          type: string
                                        Email:
                                          type: string
                                    Addresses:
                                      type: object
                                      properties:
                                        Address:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              AddressType:
                                                type: string
                                              Address:
                                                type: string
                                              City:
                                                type: string
                                              StateCode:
                                                type: string
                                              PostalCode:
                                                type: string
                                              Country:
                                                type: string
                                    PostMonths:
                                      type: object
                                      properties:
                                        ArPostMonth:
                                          type: string
                                        ApPostMonth:
                                          type: string
                                        GlPostMonth:
                                          type: string
                                    PropertyHours:
                                      type: object
                                      properties:
                                        OfficeHours:
                                          type: object
                                          properties:
                                            OfficeHour:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  Day:
                                                    type: string
                                                  AvailabilityType:
                                                    type: string
                                                  OpenTime:
                                                    type: string
                                                  CloseTime:
                                                    type: string
                                    IsDisabled:
                                      type: number
                                    IsFeaturedProperty:
                                      type: number
                                    SpaceOptions:
                                      type: object
                                      properties:
                                        SpaceOption:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              Id:
                                                type: string
                                              Name:
                                                type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                auth:
                  type: object
                  properties:
                    type:
                      type: string
                requestId:
                  type: number
                method:
                  type: object
                  properties:
                    name:
                      type: string
                    version:
                      type: string
                    params:
                      type: object
                      properties:
                        propertyId:
                          type: string
x-path-templates:
# Remove the ignore: prefix to generate an endpoint with its URL
# Lines that are closer to the top take precedence, the matching is greedy
  []
