openapi: 3.0.0
info:
  title: dev/sandbox/mitmproxy/entrata_captured_traffic.flow Mitmproxy2Swagger
  version: 1.0.0
servers:
- url: https://gmhcommunities.entrata.com/api/v1
  description: The default server
paths:
  /status:
    post:
      operationId: getStatus
      summary: POST status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      requestId:
                        type: string
                      code:
                        type: number
                      result:
                        type: object
                        properties:
                          status:
                            type: string
                          message:
                            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                auth:
                  type: object
                  properties:
                    type:
                      type: string
                requestId:
                  type: number
                method:
                  type: object
                  properties:
                    name:
                      type: string
                    version:
                      type: string
                    params:
                      type: array
                      items:
                        type: object
  /properties:
    post:
      operationId: getProperties
      summary: POST properties
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      requestId:
                        type: string
                      code:
                        type: number
                      result:
                        type: object
                        properties:
                          PhysicalProperty:
                            type: object
                            properties:
                              Property:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    PropertyID:
                                      type: number
                                    MarketingName:
                                      type: string
                                    Type:
                                      type: string
                                    webSite:
                                      type: string
                                    Address:
                                      type: object
                                      properties:
                                        '@attributes':
                                          type: object
                                          properties:
                                            AddressType:
                                              type: string
                                        Address:
                                          type: string
                                        City:
                                          type: string
                                        State:
                                          type: string
                                        PostalCode:
                                          type: string
                                        Country:
                                          type: string
                                        Email:
                                          type: string
                                    Addresses:
                                      type: object
                                      properties:
                                        Address:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              AddressType:
                                                type: string
                                              Address:
                                                type: string
                                              City:
                                                type: string
                                              StateCode:
                                                type: string
                                              PostalCode:
                                                type: string
                                              Country:
                                                type: string
                                    PostMonths:
                                      type: object
                                      properties:
                                        ArPostMonth:
                                          type: string
                                        ApPostMonth:
                                          type: string
                                        GlPostMonth:
                                          type: string
                                    PropertyHours:
                                      type: object
                                      properties:
                                        OfficeHours:
                                          type: object
                                          properties:
                                            OfficeHour:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  Day:
                                                    type: string
                                                  AvailabilityType:
                                                    type: string
                                                  OpenTime:
                                                    type: string
                                                  CloseTime:
                                                    type: string
                                    IsDisabled:
                                      type: number
                                    IsFeaturedProperty:
                                      type: number
                                    SpaceOptions:
                                      type: object
                                      properties:
                                        SpaceOption:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              Id:
                                                type: string
                                              Name:
                                                type: string
                                    LeaseTerms:
                                      type: object
                                      properties:
                                        LeaseTerm:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              Id:
                                                type: number
                                              Name:
                                                type: string
                                              TermMonths:
                                                type: number
                                              IsProspect:
                                                type: number
                                              IsRenewal:
                                                type: number
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                auth:
                  type: object
                  properties:
                    type:
                      type: string
                requestId:
                  type: number
                method:
                  type: object
                  properties:
                    name:
                      type: string
                    version:
                      type: string
                    params:
                      type: array
                      items:
                        type: object
    post:
      operationId: getFloorPlans
      summary: POST properties getFloorPlans
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      requestId:
                        type: string
                      code:
                        type: number
                      result:
                        type: object
                        properties:
                          FloorPlans:
                            type: object
                            properties:
                              FloorPlan:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    Identification:
                                      type: object
                                      properties:
                                        '@attributes':
                                          type: object
                                          properties:
                                            IDRank:
                                              type: string
                                            IDScopeType:
                                              type: string
                                            IDType:
                                              type: string
                                        IDValue:
                                          type: number
                                    Name:
                                      type: string
                                    PropertyId:
                                      type: number
                                    FloorplanGroups:
                                      type: object
                                      properties:
                                        FloorplanGroup:
                                          type: object
                                          properties:
                                            '146':
                                              type: object
                                              properties:
                                                '@attributes':
                                                  type: object
                                                  properties:
                                                    id:
                                                      type: number
                                                    name:
                                                      type: string
                                            '149':
                                              type: object
                                              properties:
                                                '@attributes':
                                                  type: object
                                                  properties:
                                                    id:
                                                      type: number
                                                    name:
                                                      type: string
                                    Comment:
                                      type: string
                                    UnitCount:
                                      type: string
                                    UnitsAvailable:
                                      type: string
                                    UnitTypes:
                                      type: object
                                      properties:
                                        UnitType:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              '@attributes':
                                                type: object
                                                properties:
                                                  Id:
                                                    type: number
                                              '@value':
                                                type: string
                                    IsDisabled:
                                      type: number
                                    Room:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          '@attributes':
                                            type: object
                                            properties:
                                              RoomType:
                                                type: string
                                          Count:
                                            type: number
                                    SquareFeet:
                                      type: object
                                      properties:
                                        '@attributes':
                                          type: object
                                          properties:
                                            Max:
                                              type: number
                                            Min:
                                              type: number
                                    MarketRent:
                                      type: object
                                      properties:
                                        '@attributes':
                                          type: object
                                          properties:
                                            Max:
                                              type: number
                                            Min:
                                              type: number
                                    File:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          FileType:
                                            type: string
                                          '@attributes':
                                            type: object
                                            properties:
                                              FileID:
                                                type: number
                                              Active:
                                                type: string
                                          Description:
                                            type: string
                                          Name:
                                            type: string
                                          Caption:
                                            type: string
                                          Format:
                                            type: string
                                          Width:
                                            type: string
                                          Height:
                                            type: string
                                          Src:
                                            type: string
                                          IsDefault:
                                            type: number
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                auth:
                  type: object
                  properties:
                    type:
                      type: string
                requestId:
                  type: number
                method:
                  type: object
                  properties:
                    name:
                      type: string
                    version:
                      type: string
                    params:
                      type: object
                      properties:
                        propertyId:
                          type: string
                        usePropertyPreferences:
                          type: string
                        includeDisabledFloorplans:
                          type: string
  /queue:
    post:
      summary: POST queue
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      requestId:
                        type: string
                      code:
                        type: number
                      result:
                        type: object
                        properties:
                          reportData:
                            type: array
                            items:
                              type: object
                              properties:
                                property:
                                  type: string
                                property_name:
                                  type: string
                                lease_type:
                                  type: string
                                lead:
                                  type: object
                                lead_id:
                                  type: object
                                initial_contact_date:
                                  type: object
                                leasing_agent:
                                  type: object
                                lease_creation_date:
                                  type: object
                                building_units:
                                  type: object
                                applicant_type:
                                  type: object
                                application_approved:
                                  type: number
                                generated:
                                  type: number
                                signed:
                                  type: number
                                approved:
                                  type: number
                                cancelled:
                                  type: object
                                move_in:
                                  type: number
                                reopened_on:
                                  type: object
                                lease_approved_by:
                                  type: object
                          queueStartedOn:
                            type: string
                          queueCompletedOn:
                            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                auth:
                  type: object
                  properties:
                    type:
                      type: string
                requestId:
                  type: number
                method:
                  type: object
                  properties:
                    name:
                      type: string
                    version:
                      type: string
                    params:
                      type: object
                      properties:
                        queueId:
                          type: string
                        serviceName:
                          type: string
  /reports:
    post:
      summary: POST reports
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      requestId:
                        type: string
                      code:
                        type: number
                      result:
                        type: object
                        properties:
                          queueId:
                            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                auth:
                  type: object
                  properties:
                    type:
                      type: string
                requestId:
                  type: number
                method:
                  type: object
                  properties:
                    name:
                      type: string
                    version:
                      type: string
                    params:
                      type: object
                      properties:
                        reportName:
                          type: string
                        reportVersion:
                          type: string
                        filters:
                          type: object
                          properties:
                            property_group_ids:
                              type: array
                              items:
                                type: string
                            period:
                              type: object
                              properties:
                                daterange:
                                  type: object
                                  properties:
                                    daterange-start:
                                      type: string
                                    daterange-end:
                                      type: string
                                period_type:
                                  type: string
                            results_based_on:
                              type: string
                            lease_type:
                              type: array
                              items:
                                type: string
                            summarize_by:
                              type: string
                            group_by:
                              type: string
                            consolidate_by:
                              type: string
                            arrange_by_property:
                              type: string
                            subtotals:
                              type: string
  /arcodes:
    post:
      summary: POST arcodes
      responses:
        '200':
          description: OK
          content: {}
  /leases:
    post:
      summary: POST leases
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      requestId:
                        type: string
                      error:
                        type: object
                        properties:
                          code:
                            type: number
                          message:
                            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                auth:
                  type: object
                  properties:
                    type:
                      type: string
                requestId:
                  type: number
                method:
                  type: object
                  properties:
                    name:
                      type: object
                    version:
                      type: string
                    params:
                      type: array
                      items:
                        type: object
x-path-templates:
# Remove the ignore: prefix to generate an endpoint with its URL
# Lines that are closer to the top take precedence, the matching is greedy
- /propertyunits
- /customers
- /artransactions
- /financial
- /pricing
- /applications
- /vendors
- ignore:/documentation
